.text-short-description {
    font-size: 0.7rem;
}

.campaign-name {
    font-size: 0.9rem;
}

.wrap-button {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 220px;
    width: 100%;
    margin-left: -8px;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-hover:hover {
    webkit-transform: translateY(-4px) scale(1.01);
    -ms-transform: translateY(-4px) scale(1.01);
    -webkit-transform: translateY(-4px) scale(1.01);
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0 14px 24px rgb(62 57 107 / 10%);
    cursor: pointer;
}

.card-hover {
    -webkit-transition: .25s;
    transition: all .25s ease;
}

.card-hover.campaign-item:hover .wrap-button {
    background-color: rgba(0,0,0,.7);
    border-radius: 6px;
}

.wrap-image {
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-campaign {
    object-fit: cover;
    border-radius: 6px;
}

.wrap-image .btn-register {
    position: absolute;
    display: none;
    background-color: #ff900d;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 2;
}

.card-hover.campaign-item:hover .btn-register {
    display: inline-block;
}

@media screen and (max-width: 1440px) {
    .wrap-button {
        height: 165px;
    }

    .wrap-image {
        height: 165px;
    }
}

.avatar-wrapper{
    width: 100px;
    height: 100px;
}

.checked {
    color: orange;
}

.short-content {
	display: -webkit-box;
	width: 98%;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 60px;
}


.flex.items-center.justify-between .relative.z-0.inline-flex.shadow-sm.rounded-md {
	display: none !important;
}

.hot-beginner{
    left: 90% !important;
    width: 60px;
}

.is-beginner {
    margin-top: 30px !important;
}


.page-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .label {
    font-size: 18px;
    font-weight: normal;
    margin-right: 10px;
  }

  .value {
    font-size: 18px;
    font-weight: normal;
  }
  @mixin table-variant($state, $background) {
    .table-#{$state} {
      $color: color-contrast(opaque($body-bg, $background));
      $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
      $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
      $active-bg: mix($color, $background, percentage($table-active-bg-factor));

      --#{$variable-prefix}table-bg: #{$background};
      --#{$variable-prefix}table-striped-bg: #{$striped-bg};
      --#{$variable-prefix}table-striped-color: #{color-contrast($striped-bg)};
      --#{$variable-prefix}table-active-bg: #{$active-bg};
      --#{$variable-prefix}table-active-color: #{color-contrast($active-bg)};
      --#{$variable-prefix}table-hover-bg: #{$hover-bg};
      --#{$variable-prefix}table-hover-color: #{color-contrast($hover-bg)};

      color: $color;
      border-color: mix($color, $background, percentage($table-border-factor));
    }
  }
